/*
Notes: Color Palette - 
#B01D49
#132323
#546459
#A5AFB0

https://colorhunt.co/palette/2040513b697884a9accae8d5
+ 

https://colorhunt.co/palette/164863427d9d9bbec8ddf2fd
https://colorhunt.co/palette/053b50176b8764ccc5eeeeee
https://colorhunt.co/palette/002b5b2b4865256d858fe3cf
*/

h1, h2 {
  color: #e1e1e1;
}

h3, h4, h5, h6, p, div, span {
  color: #A5AFB0;
}


.main {
  background-color: #132323;
  min-height: 100vh;
  padding: 8em 7em 5em 7em;
}

.line {
  width: 100%;
  height: 2em;
  background-color: #132323;
  border-bottom: #A5AFB0 solid 2px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.inner-line {
  width: 100%;
  height: 2em;
  border-bottom: #e1e1e1 solid 2px;
}
.inner-line-caret {
  display: flex;
  justify-content: center;
  height: 2em;
  align-items: center;
  font-size: 24px;
  color: #e1e1e1;
}
.wrapper {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2em;
  overflow: visible;
}

.wrapper .sidebar {
  position: sticky;
  top: 3em;
  grid-column: 1 / span 4;
  height: 80vh;
  z-index: 0;
  overflow: hidden;
}

.wrapper .content {
  grid-column: 5 / span 7;
}

.sidebar h4 {
  font-weight: 700;
  color: #e1e1e1;
  margin-bottom: 1em;
}


.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
.circle-wrapper {
  width: 15em;
  height: 15em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.circle-wrapper img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
}
.icons ul {
  list-style-type: none;
}
.icons li {
  display: inline-block;
  margin-right: 10px;
  background-color: #A5AFB0;
  height: 2em;
  width: 2em;
  padding: 0 auto;
  border-radius: 50em;
  color: #132323;
  text-align: center;
  padding: 0.5em;
}
.icons li:hover {
  background-color: #d57ca1;
  cursor: pointer;
}
.icons li:hover > i {
  color: #e1e1e1;
  cursor: pointer;
}
.navigation {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5rem;
}
.navigation li {
  line-height: normal;
  margin-bottom: 1em;
}
.navigation li i {
  margin-right: 10px;
  width: 1em;
}
.navigation li:hover {
  color: #d57ca1;
  cursor: pointer;
}
.navigation li:hover > i {
  color: #e1e1e1;
  cursor: pointer;
}




.content h3{
  color: #e1e1e1;
  font-weight: 700;
  margin-bottom: .5em;
}
.content p {
  line-height: normal;
}
.section .col {
  padding: 0 !important;
}
/* Remove height tag after mocking data*/
.section p {
  margin-bottom: 4em;
}




.test {
  min-height: 100vh;
}

.card-overlay {
  background: rgb(0 0 0 / 32%);
  height: 100vh;
  z-index: 15;
  position: relative;
}

.center-text {
  position: fixed;
  z-index: 16;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  margin-left: 7em;
}
.center-text h1 h2 {
  font-family: 'Montserrat', sans-serif;
}


